# -------------------------------------------------------------------- #
# requirements without version specifiers
# -------------------------------------------------------------------- #
jsonpickle~=2.0.0
response

# -------------------------------------------------------------------- #
# requirements with version specifiers
# -------------------------------------------------------------------- #
opencv-python >= 4.5.2
flask >= 2.0.1

setuptools~=57.4.0
numpy~=1.21.1
requests~=2.26.0
