# -------------------------------------------------------------------- #
# requirements without version specifiers
# -------------------------------------------------------------------- #
# n/a

# -------------------------------------------------------------------- #
# requirements with version specifiers
# -------------------------------------------------------------------- #
opencv-python >= 4.5.2